body {
  background: #f2f2f2;
  font-family: Arial;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.card {
  background: rgb(212, 175, 175);
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(57, 41, 41, 0.1);
}

.profile-img {
  width: 120px;
  border-radius: 50%;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}
