body {
  background-color: rosybrown;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.business-card {
  width: 300px;
  background-color: white;
  padding: 20px;
  margin: 100px auto;
  text-align: center;
  font-size: 16px;
}

.profile-image {
  max-width: 100%;
}

.social-media {
  text-align: center;
}   