body {
  background: #1e1e1e;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-family: Arial;
}

.login-form {
  background: #fff;
  width: 300px;
  padding: 25px;
  border-radius: 12px;
}

.login-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background: #222;
  color: white;
  border: none;
  border-radius: 8px;
}
