body {
  background: #fafafa;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-family: Arial;
}

.product {
  background: #fff;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product img {
  width: 100%;
  border-radius: 8px;
}

button {
  padding: 10px;
  width: 100%;
  background: #27ae60;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}
